html {
    min-width: 320px;
}


nav{
    background-color: rgba(240, 248, 255, 0.692);
}
.navigation {
    position: sticky;
    top: 0;
    z-index: 100;
    color: white;
}

#navbarcolor {
 background-color: rgba(0, 0, 0, 0.2);
}
 .navbar-brand > img {
    max-height: 100%;
    height: 100%;
    width: 75%;
    margin: 0 auto;
      -o-object-fit: contain;
      object-fit: contain;
    }

    
 
#home {
    background-image: url("fabian-grohs-U0tBTn8UR8I-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

body {
    color: white; 
    background-color: #151515 !important;
    font-family: 'Righteous', cursive;
}

.name {
    text-align: center;
    color: white;
    font-style: italic;
}

#photoirl {
    size: 50%;
}

#img.img{
    position: fixed;
}

h1 navbar navbar-expand-lg navbar-light text-uppercase {
    text-align: center;
    position:absolute;
    top:0px; 
    margin:5px;
}

#description {
    color: white;
    margin: 150px;
}

#description h3 {
    color:white;
}

#textdescription {
    color:white;
}

#projets {
    
    padding: 100px;
    text-align: center;
    color: white;
}





.card-title {
    color: white;
    text-align: center; 
}




#h1comp {
    text-align: center;
}



#contact {
    text-align: center;

}

#contact, h1 {
    margin-top: 150px;
    text-align: center;
    color: white;
    font-style: italic;
     }

 #p {
     margin-bottom: 150px;
 }    


  #photoirl {
      border-radius: 50%;
      margin: auto;
      display: block;
  }

 #logotel {
     font-size: 50px;
 } 

 .numtel {
     font-size: 15px;
  }

  #email {
      font-size: 30px;
      
  }

  #logoregion {
      font-size: 50px;
  }

  #logogitlab {
      font-size: 35px;
  }

  #region {
    margin-bottom: 30px;
  }

.fa-envelope-square {
    font-size: 50px;
}

#card1 img{
    position: sticky;
}
 
#card2 img{
    position: sticky;

}
#card3 img{
    position: sticky;

}
#card4 img{
    position: sticky;

}
#card5 img{
    position: sticky;

}
#card6 img{
    position: sticky;

}


.line-separator{

    height:3px;
    width: 50%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    border-bottom:1px solid;
    
    }


    
    .card-img-top {
width: 100%;
    }

#contact > section > li > a {
    color: white;
}    

.portfolio  {
    display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
    }
  .portfolio img {
    margin-left: 100px;
    display: inline-block;
    float: left;
    margin: 15px;
    cursor: pointer;
    transition: all 0.4s;
    width: 150px;
  }
  .portfolio:hover img {
    opacity: 0.6;
    transform: scale(0.8);
    -webkit-filter: blur(2px);
  }
  .portfolio img:hover {
    opacity: 1;
    transform: scale(1.50);
    -webkit-filter: blur(0);
  }
  
  #cent{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
  }
  


  @media screen and (max-width: 576px) {
      #projets {
          padding: 0px;
      }

      #description {
          margin: 0px;
      }

      #photoirl {
          width: auto;
      }
  }